# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
.Rproj.user

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/


# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# RStudio Connect folder
rsconnect/

# manuscripts and binary files
manuscript/
literature/
presentations/
habitat/
*.pdf
*.doc
*.docx
*.pptx

## files that are too large
output/woco_iso_time_origin_model.rds
output/woco_iso_origin_model.rds
output/woco_iso_time_origin_model_comb_prior.rds
data/GLOBCOVER_L4_200901_200912_V2.3.tif
output/WOCO_nonlocal_probs_mig_prior.csv
output/WOCO_nonlocal_probs_comb_prior.csv